<header>
  <nav class="container">
    <div class="logo_name">
      <img src="../../assets/logo.png" alt="logo icon" class="logo_icon" />
      <div class="logo">BikeShop</div>
    </div>
    <div class="nav-elements">
      <ul>
        <li><a routerLink="/">Bikes</a></li>
        <li><a routerLink="/categories">Bike Categories</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#"></a></li>
      </ul>
    </div>
    <div class="acc-manage">
      <button class="dropbtn">Manage</button>
      <div class="dropdown-content">
        <a style="cursor: pointer" (click)="onSaveData()">Save Data</a>
        <a style="cursor: pointer" (click)="onFetchData()">Fetch Data</a>
      </div>
    </div>
  </nav>
</header>
